<section>
  <a routerLink="">
    <div id="title">
      Pizza-colossus
    </div>
  </a>
  <a routerLink="reactive">
    <button  type="button" class="btn btn-secondary m-1" data-mdb-ripple-init>
      Reactive form
    </button>
  </a>
  <a routerLink="menu">
    <button  type="button" class="btn btn-secondary m-1" data-mdb-ripple-init>
      Menu Delle Pizze
    </button>
  </a>
  <a routerLink="form">
    <button  type="button" class="btn btn-secondary m-1" data-mdb-ripple-init>
      form
    </button>
  </a>
</section>

