<!-- toDo PUT -->
 <!--  -->

<app-header/>
<app-casella [prova]="''">
  @if (error()) {
    <h1 class="alert alert-secondary" role="alert">
      Qualcosa è andato storto
    </h1>
  }
  @else {
    <h1 class="alert alert-secondary" role="alert">La tua chiamata funziona!</h1>
  }
</app-casella>
<app-carosel/>
<app-main />

<div>
  <a routerLink="pizze">pizze</a>
</div>
<div>
  <a routerLink="form">Reactive form</a>
</div>
<div>
  <a routerLink=""> form</a>
</div>
<router-outlet></router-outlet>
<app-footer/>


