<form >


  <div id="wrapper">

    <div class="w-40 h-40">
      <div>
        <h3>
          <label for="img">Cambia img</label>
        </h3>
      </div>
      <input type="file" class="w-60 h-20 m-2"  placeholder="img">
    </div>

    <div class="w-40 h-40">
      <div>
        <h3>
          <label for="name">Cambia Nome</label>
        </h3>
      </div>
      <input type="text" class="w-60 h-20 m-2"  placeholder="nome">
    </div>

    <div class="w-40 h-40">
      <div>
        <h3>
          <label for="prezzo">Cambia il prezzo</label>
        </h3>
      </div>
      <input type="text" class="w-60 h-20 m-2"  placeholder="prezzo">
    </div>

    <div class="w-40 h-40">
      <div>
        <h3>
          <label for="Ingredienti">Cambia gli Ingredienti</label>
        </h3>
      </div>
      <input type="text" class="w-60 h-20 m-2"  placeholder="ingredienti">
    </div>
  </div>

  <button  type="submit" class="btn btn-secondary m-1 w-25 " data-mdb-ripple-init>Modifica</button>

</form>
