<section class="pt-4 d-flex justify-content-center align-items-center">
  <form #form="ngForm" (ngSubmit)="OnSubmit(form)" class="row w-50 gy-2 gx-3 align-items-center">


    <h1>Form</h1>
   <!-- Name input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="name">Name</label>
      <input type="text" id="name" class="form-control" name="nome" ngModel required />
    </div>

    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="email" >Email address</label>
      <input type="email" id="email" class="form-control" name="email" email ngModel required  />
    </div>


    <!-- Submit button -->
    <button (click)="OnSubmit(form)" data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4">Subscribe</button>


    @if (
      (form.value.nome || form.value.email)
      && form.invalid
      && form.dirty) {
      <div class="alert alert-danger">Manca Qualcosa</div>
    }

    @if (!(EnteredName()=="")) {
      <h1>Benventuto <strong> {{EnteredName()}}</strong>
      </h1>
    }
  </form>
</section>
