<section>
  <div id="container">
      <h1 id="title"><Strong id="title">Queste sono le nostre tre migliori pizze!</Strong></h1>
      <div id="galleryView">
        <div id="galleryContainer">
          <div id="leftView"><img src="/pizze/pizza4.jpeg" alt="foto" class="foto"></div>
          <a id="linkTag">
            <div id="mainView"><img src="/pizze/pizza2.jpeg" alt="foto" class="foto"></div>
          </a>
          <div id="rightView"><img src="/pizza.jpeg" alt="foto" class="foto"></div>
        </div>
      </div>
    <div id="tilesView">
      <div id="tilesContainer"></div>
    </div>
  </div>
</section>
