<section >

  <!-- box -->
  <div id="box">
    <!-- title -->
    <div #TITOLO><!-- Crea la tua pizza: Scegli il tuo chef e la sua migliore pizza! --></div>

    <!-- pizza-make-button -->
    <button (click)="visiblee()" class="btn" ><h2>Crea tu,la tua pizza</h2></button>
    <!-- hidden-box -->
     @if (visible==false ) {
        <!-- usare la condizione, anziché [class.active]="visible", rende più sicura l'app -->
       <app-over-box [selected]="visible"  (cancel)="cancel($event)" (add)="add($event)"  />
     }

    </div>
</section>
