.operatore{
  margin: 2em;
  padding: 1rem;
  color: #FFA62F;
  height: 4vh;
  aspect-ratio: 1;
  border: 2px;
  background-color: white;
  border-radius: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn{
  border-radius: 1em;
  padding: 1.2em;
  background-color: lightcyan;
  color: #FFA62F;
  font-weight: 900;
  border: 3px solid #FFA62F;

}

