<h1 style="text-align: center;">Il numero delle pizze è <strong>{{listapizze.length}}</strong></h1>
<h3>Il nome della pizza è {{pizzaName()}}</h3>
<section>
  <div id="wrapper">

    @if ( modify == true) {
      <app-update-form></app-update-form>
    }

    @for (pizza of listapizze; track pizza;) {
      <div class="box">
        <h1>Nome: {{pizza.nome}}</h1>
        <div class="w-100 h-100">
          <img [src]="pizza.img" alt="foto" class="foto">
        </div>
        <h3>Prezzo: {{pizza.prezzo | price}}</h3>
        <h4>Ingredienti:</h4>
        <div class="ingredienti">
          @for (ingrediente of pizza.ingredienti; track ingrediente) {
            <div>
              -{{ingrediente}}
            </div>
          }
        </div>

        <div class=" btns">
          <button (click)="id(listapizze ,pizza )" type="button" class="btn btn-secondary m-1" data-mdb-ripple-init>Elimina</button>
          <button (click)="ClickModify()"  type="button" class="btn btn-secondary m-1" data-mdb-ripple-init>Modifica</button>
          <button (input)="pizza.id" type="button" class="btn btn-secondary m-1" data-mdb-ripple-init>seleziona</button>
        </div>


        <div>N.{{pizza.id}}</div>
      </div>
    }
  </div>
</section>
