<section>
  <div id="wrapper">

    @for (pizza of listapizze; track pizza;) {
      <div class="box">
        <h1>Nome: {{pizza.nome}}</h1>
        <img [src]="pizza.img" alt="foto" class="foto">
        <h3>Prezzo: {{pizza.prezzo | price}}</h3>
        <h4>Ingredienti:</h4><br/>
        <div class="ingredienti">
          @for (ingrediente of pizza.ingredienti; track ingrediente) {
            <div>
              -{{ingrediente}}
            </div>
          }
        </div>

        <button (click)="id(listapizze ,pizza )" type="button" class="btn btn-secondary" data-mdb-ripple-init>Secondary</button>

        <div>N.{{pizza.id}}</div>
      </div>

<!--       <div class="card box">
        <div class="card-body">
          <h5 class="card-title">Nome: {{pizza.nome}}</h5>
          <div class="w-75 h-100">

            <img [src]="pizza.img" alt="foto" class="foto w.ì">
          </div>

          <p class="card-text">Prezzo: {{pizza.prezzo | price}}</p>
          <div class="card-text">
            <h4>Ingredienti:</h4><br/>
            <div class="ingredienti">
              @for (ingrediente of pizza.ingredienti; track ingrediente) {
                <div>
                  -{{ingrediente}}
                </div>
              }
            </div>
          </div>
          <button (click)="id(listapizze ,pizza )" type="button" class="btn btn-secondary" data-mdb-ripple-init>Secondary</button>

          <div>N.{{pizza.id}}</div>
        </div>
      </div> -->
    }
  </div>
</section>
